*
{
    font-size: 14px;
}

body
{
	/*background:#aaa;*/
}

form.login
{
    background: none repeat scroll 0 0 #F1F1F1;
    border: 1px solid #DDDDDD;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 20px;
    width: 350px;
    box-shadow:0px 0px 20px black;
    border-radius:10px;
}

form.login div
{
    margin-bottom: 15px;
    overflow: hidden;
}

form.login div label
{
    display: block;
    float: left;
    line-height: 25px;
}

form.login div input[type="text"], form.login div input[type="password"], form.login div input[type="email"]
{
    border: 1px solid #DCDCDC;
    float: right;
    padding: 4px;
}

/*form.login div input[type="submit"]
{
    background: none repeat scroll 0 0 #DEDEDE;
    border: 1px solid #C6C6C6;
    /*float: right;*
    font-weight: bold;
    padding: 4px 20px;
}*/

.error
{
    color: red;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.button-link
{
    /*padding: 10px 15px;
    background: #4479BA;
    color: #FFF;*/
    background: none repeat scroll 0 0 #DEDEDE;
    border: 1px solid #C6C6C6;
    /*float: right;*/
    font-weight: bold;
    padding: 4px 20px;
    text-decoration: none;
}

.button-link:visited, .button-link:link
{
    color: black;
}

.Button2
{
    /*font-family: Comic Sans, Comic Sans MS, cursive, serif;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #424242;/*#D84530;*/
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4), 0px 0px 2px white inset;
    color: white;
    font-size: 13px;
    height: 35px;
    margin: 4px;
    min-width: 100px;
    padding: 4px;
    text-decoration: none;
    outline: none;
}

.Button2:hover, .Button2:focus
{
    background-color: #409FBA;
    cursor: pointer;
}